<div class="jumbotron">
	<h1>Welcome to Admin dashboard</h1>
	<%= link_to 'logout', destroy_user_session_path, method: :delete %>
</div>
<div class='container'>
	<div class="btn-group btn-group-lg">
	  <%= link_to 'View Categories',admin_categories_path, class:"btn btn-outline-info" %>
	  <%= link_to 'View Books',admin_books_path, class:"btn btn-outline-success" %>
	  <%= link_to 'View Issue Requests',admin_issues_path, class:"btn btn-outline-danger" %>
	</div>
</div>