<div class="jumbotron">
	<h1>Welcome To Library Management System</h1>
</div>
<div class='container'>
	<div class="btn-group btn-group-lg">
	  <%= link_to 'Sign in',new_user_session_path, class:"btn btn-outline-primary" %>
	  <%= link_to 'Sign up',new_user_registration_path, class:"btn btn-warning" %>
	  
	</div>
</div>
